.list-group-item.delete {
  color: red;
}

.list-group-item.delete:hover {
  background-color: #ffcccb;
}

.list-group-item.update {
  color: lightseagreen;
}

.list-group-item.update:hover {
  background-color: #90eede;
}

.list-group-item.board {
  color: blue;
}

.list-group-item.board:hover {
  background-color: lightblue;
}
